html, body, #root {
    font: 0.9rem sans-serif;
    background: #303030;
    color: #ffffff;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: 5%;
}

.phaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}